<div class="container">
<div class="card">
<h1>Flights List</h1>
<table class="display" style="width:100%">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th data-breakpoints="xs">Departure</th>
                <th data-breakpoints="xs">Arrival</th>
                <th data-breakpoints="xs">More Info</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let flight of flights">
                <td>{{flight.departureFrom}}</td>
                <td>{{flight.arrivalTo}}</td>
                <td>{{flight.departure}}</td>
                <td>{{flight.arrival}}</td>
                <td><a [routerLink]="['/flights/view', flight.id]">Chcek</a></td>
                </tr>
        </tbody>

  </table>

</div>
</div>
