<div class="container">
    <div class="card">
      <h1>Passanger Information:</h1><br/>
        <div class="row">
          <div class="col-sm-8">
            <hr/>
            <p>Frist Name:
              {{passenger.firstName}}
            </p>
            <hr/>
            <p>Last Name:
                {{passenger.lastName}}
            </p>
            <hr/>
            <p>Gender:
              {{passenger.gender}}
            </p>
            <hr/>
            <p>Birthday:
              {{passenger.birthday}}
            </p>
            <hr/>
            <p>Country:
              {{passenger.country}}
            </p>
            <hr/>
            <p>Description:
              {{passenger.description}}
            </p>
            <hr/>

              <div class="btn-group col-sm-5">
                <button type="button" class="btn btn-warning" (click)="clickEdit(passenger.id)"><i class="fas fa-plus"></i> Edit</button>
                <button type="button" class="btn btn-danger" (click)="deletePassenger(passenger.id)"><i class="fas fa-minus"></i> Delete</button>
                </div>
                <div class="btn-group col-sm-5">
                  <button type="button" class="btn btn-success" (click)="addFlight(passenger.id)">Add Flight</button>
                  <button type="button" class="btn btn-info" (click)="showFlights(passenger.id)"> Show Flights</button>
                </div>

          </div>
        </div>
</div>
