/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("bg.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    }
.container{
      padding: 20px;
      margin-top: 2%;
}
.jumbotron
{
  background-color: transparent;
}
.card
  {

    border-radius: 20px;
    padding-top:20px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
  }
  .comment
  {  
      width:100%;
      padding: 19px;
      margin-bottom: 5px;
      background-color: rgb(231, 228, 228) ;
      border-radius:4px;
  }
